{{#bs-navbar type=type backgroundColor="green" collapsed=collapsed as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "home.products" class="navbar-brand"}} ONE STOP GROCERY {{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "home.products"}}Products{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "home.cart"}}Cart{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
