.product-container {
  text-align: center;
  margin: 20px 0px;
  cursor: pointer;

  .information {
    display: block;
    &.product-name {
      color: $blue;
      font-weight: bolder;
      font-size: 16px;
    }
    &.product-price {
      font-size: 12px;
    }
  }
  .short-description {
    font-size: 14px;
    color: #6b5c5c;
  }
  .btn-group {
    .btn {
      border: 1px solid $white;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
    .item-quantity {
      padding: 5px;
      background: $light-blue;
      color: $white;
      margin: 0px;
    }
  }
}
