.top-navigation {
  a {
    color: $white !important;
  }
  nav {
    &.bg-green {
      background-color: $green;
    }
    ul > li > a {
      color: $white;
    }
  }

  @media #{$media-mobile}{
    background-color: yellow;
  }
}
